@import "../../../shared/styles/colors.less";
@import "../../../shared/styles/breakpoints.less";

.sidebar-container {
  width: 15vw;
  min-height: 420px;

  .search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 0;
    margin-bottom: 20px;

    input {
      border: none;
      background: transparent;
      outline: none;
      flex: 1;
      padding: 5px;
      font-size: 14px;
      color: #333;
    }

    mat-icon {
      color: #757575;
      cursor: pointer;
      flex-shrink: 0; // Prevent the icon from shrinking
    }
  }

  h3 {
    color: #000;
    padding: 0 0 10px;
    background: transparent;
    font-weight: 600;
    font-size: 13px;
    margin: 0 0 25px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
  }

  .category-list {
    padding: 0;
    margin-bottom: 3rem;

    .category-item {
      cursor: pointer;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        color: #757575;
        font-weight: normal;
        text-decoration: none;
        cursor: pointer;

        &.selected {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      .amount {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #ffffff;
        text-align: center;
        line-height: 25px;
        font-size: 12px;
      }
    }
  }

  .price-range {
    position: relative;
    height: 5px;
    /* Adjust the total height for visual clarity */

    .slider-container {
      position: relative;
      width: 100%;
      padding-bottom: 1rem;
    }

    /* Background line (track) */
    .slider-track {
      position: absolute;
      height: 5px;
      background: #ddd;
      /* Lighter color for contrast */
      z-index: -1;
      /* Send it behind everything */
      width: 100%;
      border-radius: 5px;
      /* Rounded edges */
      transform: translateY(-2px);
      /* Center adjust */
      pointer-events: none;
    }

    /* Active slider range */
    .slider-range {
      position: absolute;
      height: 5px;
      background: #4d565b;
      z-index: 1;
      /* Sit above the track */
      border-radius: 5px;
      transform: translateY(-2px);
      /* Center adjust */
    }

    .slider {
      position: absolute;
      pointer-events: none;
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 0;
      z-index: 2;

      &::-webkit-slider-thumb {
        pointer-events: all;
        position: relative;
        z-index: 3;
        height: 16px;
        width: 16px;
        background-color: #4d565b;
        border-radius: 50%;
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
      }
    }

    p {
      font-size: 12px;
    }
  }
  .sibebar-footer {
    display: none;
  }

  @media @tablet-m, @tablet-l {
    width: 100%; // Adjust the width to fit the screen

    .search {
      flex-direction: row; // Ensure the input and icon are in a row
      padding: 5px;

      input {
        font-size: 12px; // Adjust font size for smaller screens
      }

      mat-icon {
        font-size: 24px; // Adjust icon size for smaller screens
      }
    }

    h3 {
      font-size: 12px; // Adjust heading size for smaller screens
    }

    .category-list {
      .category-item {
        label {
          font-size: 12px; // Adjust label size for smaller screens
        }

        .amount {
          font-size: 10px; // Adjust amount size for smaller screens
        }
      }
    }

    .price-range {
      p {
        font-size: 10px; // Adjust price range text size for smaller screens
      }
    }
  }

  @media @mobile {
    width: 100%; // Adjust the width to fit the screen

    .search {
      flex-direction: row; // Ensure the input and icon are in a row
      padding: 5px;
      background: #dfdcdc;

      input {
        font-size: 12px; // Adjust font size for smaller screens
      }

      mat-icon {
        font-size: 24px; // Adjust icon size for smaller screens
      }
    }

    h3 {
      font-size: 12px; // Adjust heading size for smaller screens
    }

    .category-list {
      .category-item {
        label {
          font-size: 12px; // Adjust label size for smaller screens
        }

        .amount {
          font-size: 10px; // Adjust amount size for smaller screens
        }
      }
    }

    .price-range {
      p {
        font-size: 10px; // Adjust price range text size for smaller screens
      }
    }
    .sibebar-footer {
      display: block;
      position: absolute;
      text-align: center;
      padding-top: 1rem;
      font-size: 0.9rem;
      color: #777;
      border-top: 1px solid #d7d4d4;
      bottom: 0;
      width: 90%;
      padding-bottom: 1rem;

      span {
        font-size: 0.9rem;
      }
    }
  }
}
