<div class="sidebar-container">
  <div class="search">
    <input type="text" placeholder="Pesquisar" />
    <mat-icon>search</mat-icon>
  </div>
  <h3> CATEGORIAS </h3>
  <ul class="category-list">
    @for (category of categories; track $index) {
    <li class="category-item" (click)="onCategoryClick(category.id)">
      <label [class.selected]="selectedCategory === category.id"> {{ category.name }} </label>
      <!-- <div class="amount"> {{ category.amount }} </div> -->
    </li>
    <hr class="category-divider">
    }
  </ul>

  <h3>PREÇO</h3>
  <div class="price-range">
    <div class="slider-container">
      <div class="slider-track"></div>

      <!-- Minimum Thumb -->
      <input type="range" class="slider thumb-min" [min]="baseMinPrice" [max]="baseMaxPrice" [value]="minPrice"
        (input)="onMinPriceChange($event)" title="Minimum Price" />
      <!-- Maximum Thumb -->
      <input type="range" class="slider thumb-max" [min]="baseMinPrice" [max]="baseMaxPrice" [value]="maxPrice"
        (input)="onMaxPriceChange($event)" title="Maximum Price" />
      <!-- Range Highlight -->
      <div class="slider-range" [style.left.%]="((minPrice - baseMinPrice) / (baseMaxPrice - baseMinPrice)) * 100"
        [style.width.%]="((maxPrice - minPrice) / (baseMaxPrice - baseMinPrice)) * 100"></div>
    </div>

    <p>Preço: R${{ minPrice }} - R${{ maxPrice }}</p>
  </div>
</div>