<div class="sidebar-container">
  <div class="search">
    <input type="text" [formControl]="searchQuery" (keydown)="onSearchKeyPress($event)" placeholder="Pesquisar..." aria-autocomplete="none" autocomplete="off">
    <mat-icon (click)="onSearchClick()">search</mat-icon>
  </div>
  <h3> CATEGORIAS </h3>
  <ul class="category-list">
    @for (category of categories; track $index) {
    <li class="category-item" (click)="onCategoryClick(category.id)">
      <label [class.selected]="selectedCategory === category.id"> {{ category.name | titlecase }} </label>
      <div class="amount"> {{ category.amount }} </div>
    </li>
    }

  </ul>

  <h3>PREÇO</h3>
  <div class="absolute-range">
    <input type="number" class="absolute-min" [maxLength]="4" [min]="0" [max]="baseMaxPrice - 1" (input)="onAbsolutePriceChange('min', $event.target.value)"
      (keydown)="blockTooManyDigits($event)" placeholder="Mínimo" />
    <span class="absolute-range-separator">-</span>
    <input type="number" class="absolute-max" [maxLength]="4" [min]="baseMinPrice + 1" [max]="3000" (input)="onAbsolutePriceChange('max', $event.target.value)"
      (keydown)="blockTooManyDigits($event)" placeholder="Máximo" />
  </div>
  <div class="price-range">
    <div class="slider-container">
      <div class="slider-track"></div>

      <!-- Minimum Thumb -->
      <input type="range" class="slider thumb-min" [min]="baseMinPrice" [max]="baseMaxPrice" [value]="minPrice" (input)="onMinPriceChange($event)" (mouseup)="onPriceChangeEnd()"
        (touchend)="onPriceChangeEnd()" title="Minimum Price" />
      <!-- Maximum Thumb -->
      <input type="range" class="slider thumb-max" [min]="baseMinPrice" [max]="baseMaxPrice" [value]="maxPrice" (input)="onMaxPriceChange($event)" (mouseup)="onPriceChangeEnd()"
        (touchend)="onPriceChangeEnd()" title="Maximum Price" />
      <!-- Range Highlight -->
      <div class="slider-range" [style.left.%]="((minPrice - baseMinPrice) / (baseMaxPrice - baseMinPrice)) * 100"
        [style.width.%]="((maxPrice - minPrice) / (baseMaxPrice - baseMinPrice)) * 100"></div>
    </div>

    <p>Preço: R${{ minPrice }} - R${{ maxPrice }}</p>
  </div>

  <!-- Footer -->
  <div class="sibebar-footer">
    <span>filtro de proutos</span>
  </div>
</div>
