<div class="product-details-container">
  <section class="product-details">
    <!-- Left Section: Images -->
    <div class="product-images">
      <img [src]="product?.image" alt="Product Image" class="main-image" />
      <div class="additional-images">
        @for (image of additionalImages; track $index) {
        <div class="thumbnail">
          <img [src]="image" alt="Thumbnail" />
        </div>
        }

      </div>
    </div>

    <!-- Right Section: Details -->
    <div class="product-info">
      <h1>{{ product?.name }}</h1>
      <p class="price">{{ product?.price | currency: 'BRL' }}</p>
      <p class="description">{{ product?.description }}</p>
    </div>
  </section>


  <h3> Veja Também</h3>
  <section class="related-products">
    <div class="sidebar-section">
      <app-side-bar class="sidebar-component"></app-side-bar>
    </div>
    <div class="product-list" >
      <app-product-list></app-product-list>
    </div>
  </section>
</div>