@import "../shared/styles/media-query.less";
@import "../shared/styles/colors.less";

@main-color: #007b00;
@text-color: #666;
@spacing: 1rem;
@thumbnail-spacing: 1.5rem;


.product-list {
  width: 100%;
}


.product-details {
  margin: 0 5rem;
  display: flex;
  gap: 2rem;
  background: @color-secondary;
  padding: 1rem;

  .sidebar-component {
    display: block;
    height: 100%;
  }

  // Images Section
  .product-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;

    .main-image {
      width: 500px;
      height: 500px;
      object-fit: cover;
      margin-bottom: @spacing;
      border: 1px solid #e0e0e0;
      /* Light border for separation */
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      /* Subtle shadow for depth */
    }

    .additional-images {
      display: flex;
      justify-content: flex-start;
      gap: @thumbnail-spacing;
      width: 100%;

      .thumbnail {
        max-width: calc((100% - 3 * @thumbnail-spacing) / 4); // Dynamic width for 4 thumbnails
        flex: 1;

        img {
          object-fit: cover;
          width: 100%;
          border-radius: 8px;
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        }

        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1); // Slight zoom on hover
        }
      }
    }
  }

  // Product Info Section
  .product-info {
    h1 {
      margin-bottom: @spacing / 2;
      font-size: 2rem;
    }

    .price {
      font-size: 1.5rem;
      color: @main-color;
      margin-bottom: @spacing;
    }

    .description {
      font-size: 1rem;
      color: @text-color;
    }
  }


  @media @mobile {
    flex-direction: column;
  }
}

.product-details-container {
  margin: 5rem;

  h3 {
    margin: 2rem 0;
    text-align: center;
  }

  .related-products {
    gap: 5%;
    display: flex;
    justify-content: center;
    margin: 0 5rem;
  }
}