<nav class="navbar">
  <div class="side-menu">
    <ul class="navbar-menu-left">
      <li class="nav-item right-left-effect">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item right-left-effect">
        <a routerLink="external-api" class="nav-link">Loja</a>
      </li>
    </ul>
  </div>

  <section class="nav-menu-brand">
    <div class="navbar-brand" routerLink="/">
      <img src="../../../../assets/logo-ags.png" alt="logo image" class="logo-image" routerLink="/" />
      <img src="../../../../assets/logo-ags-nome.png" alt="logo image" class="logo-image--nome" routerLink="/" />
    </div>

    <button class="navbar-toggler" type="button" (click)="toggleMenu()" title="Menu button">
      <span [class.nav-hamburger]="isCollapsed" [class.active]="!isCollapsed"></span>
    </button>
  </section>


  <div class="side-menu">
    <ul class="navbar-menu-right">
      <li class="nav-item left-right-effect">
        <a routerLink="/" class="nav-link">Contato</a>
      </li>
      <li class="nav-item left-right-effect">
        <a routerLink="external-api" class="nav-link">Sobre Nós</a>
      </li>
    </ul>
  </div>
  <div class="user-dashboard">
    @if (isAuthenticated) {
    <div (click)="toggleCart()" class="cart-area">
      <div class="cart-count">{{ cartService.items().length }}</div>
      <mat-icon>shopping_cart</mat-icon>
    </div>
    }


    @if (!isAuthenticated) {
    <div class="user-area" (click)="loginWithRedirect()">
      <mat-icon>account_circle</mat-icon>
    </div>
    }

    <!-- If user is authenticated and profile exists, show profile picture and menu -->
    <div *ngIf="isAuthenticated && user" class="user-area" (click)="toggleUserMenu()">
      <!-- Profile picture -->
      <img [src]="user?.photoURL" alt="Profile picture" class="user-img" />
      <div [class.hidden]="userCollapsed" [class.user-menu]="!userCollapsed">
        <ul class="user-submenu">
          <li class="nav-item">
            <a class="nav-link">{{ user?.displayName }}</a>
          </li>
          <!-- <li class="nav-item">
            <mat-icon>person</mat-icon>
            <a routerLink="/profile" class="nav-link">Perfil</a>
          </li> -->
          @if(isAuthenticated && isUserAdmin){
          <li class="nav-item">
            <mat-icon routerLink="product-management">storefront</mat-icon>
            <a routerLink="/product-management" class="nav-link">Gerenciar Produtos</a>
          </li>
          <li class="nav-item">
            <mat-icon routerLink="category-management">widgets</mat-icon>
            <a routerLink="/category-management" class="nav-link">Gerenciar Categorias</a>
          </li>
          <li class="nav-item">
            <mat-icon routerLink="banner-management">wallpaper</mat-icon>
            <a routerLink="/banner-management" class="nav-link">Gerenciar Banner</a>
          </li>
          }
          @if(isAuthenticated && !isUserAdmin){
          <li class="nav-item">
            <mat-icon>fact_check</mat-icon>
            <a routerLink="{{'/orders/' + user.uid}}" class="nav-link">Pedidos</a>
          </li>
          }
          <li class="nav-item" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <a class="nav-link">Log out</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="menu-container" [class.active]="!isCollapsed">
    <!-- Top Header -->
    <div class="menu-header">
      <span class="menu-title">Menu</span>
    </div>

    <ul class="navbar-menu">
      <li class="nav-item">
        <mat-icon>home</mat-icon>
        <a routerLink="/" class="nav-link" (click)="isCollapsed = !isCollapsed">Home</a>
      </li>
      <li class="nav-item">
        <mat-icon>shopping_cart</mat-icon>
        <a routerLink="external-api" class="nav-link" (click)="isCollapsed = !isCollapsed">Loja</a>
      </li>


      <li class="nav-item">
        <mat-icon>perm_phone_msg</mat-icon>
        <a routerLink="/" class="nav-link" (click)="isCollapsed = !isCollapsed">Contato</a>
      </li>
      <li class="nav-item">
        <mat-icon>info</mat-icon>
        <a routerLink="/" class="nav-link" (click)="isCollapsed = !isCollapsed">Sobre Nós</a>
      </li>
    </ul>
    <div class="custom-divider"></div>

    <!-- Footer -->
    <div class="menu-footer">
      <span>Acesse nossas páginas</span>
    </div>
  </div>

</nav>
