@if(!loading){

<div class="product-details-container">
  <section class="product-details">
    <!-- Left Section: Images -->
    <div class="product-images">
      <img [src]="selectedImage || product?.image" alt="Product Image" class="main-image" />
      <div class="additional-images">
        @for (image of product?.additionalImages; track $index) {
        @if(image){
        <div class="thumbnail" (click)="swapImage(image)">
          <img [src]="image" alt="Thumbnail" />
        </div>
        }
        }

      </div>
    </div>

    <!-- Right Section: Details -->
    <div class="product-info">
      <h1>{{ product?.name }}</h1>
      <p ngClass="{{product?.discount > 0? 'discount': 'price'}}">{{ product?.price | currency: 'BRL' }}</p>
      <p *ngIf="product?.discount > 0" class="price">{{ product?.price - (product?.price * product.discount / 100) | currency: 'BRL'}}</p>
      <p class="description">{{ product?.description }}</p>
      <button class="btn btn-primary" (click)="addToCart()">Adicionar ao carrinho</button>
    </div>
  </section>



  <h3> Veja Também</h3>
  <section class="related-products">
    <mat-icon class="sidebar-icon" (click)="toggleFilter()">manage_search</mat-icon>
    <div class="sidebar-section" [class.hidden]="!showFilter" [class.visible]="showFilter">
      <div class="sibebar-header">
        <span class="filter-title">Filtro</span>
        <button mat-icon-button class="close-btn" (click)="toggleFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <app-side-bar class="sidebar-component"></app-side-bar>
    </div>
    <div class="product-list">
      <app-product-list></app-product-list>
    </div>
  </section>
</div>
}
@else {
<div class="product-details-container">
  <app-loading></app-loading>
</div>
}
