h2 {
  margin: 1rem 0;
  text-align: center;
}
.category-details {
  min-height: 164px;
}

.related-products {
  gap: 5%;
  display: flex;
  justify-content: center;
  margin: 0 5rem;

  .product-list {
    width: 100%;
  }
}
