@if(!loading){

<section class="category-details">
  <h2>{{ selectedCategoryName | capitalize }}</h2>
  <app-horizontal-slider [items]="categoryList" (itemClicked)="onItemClick($event)"></app-horizontal-slider>
</section>
<section class="related-products">
  <mat-icon class="sidebar-icon" (click)="toggleFilter()">manage_search</mat-icon>
  <div class="sidebar-section" [class.hidden]="!showFilter" [class.visible]="showFilter">
    <div class="sibebar-header">
      <span class="filter-title">Filtro</span>
      <button mat-icon-button class="close-btn" (click)="toggleFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-side-bar class="sidebar-component" [selectedItem]="selectedItem"></app-side-bar>
  </div>
  <div class="product-list">
    <app-product-list></app-product-list>
  </div>
</section>
}
@else {
<div class="category-details">
  <app-loading></app-loading>
</div>
}
