@import "../../shared/styles/global_colors.less";
@import "../../shared/styles/breakpoints.less";
@import "../../shared/styles/media-query.less";
h4 {
  text-align: center;
  color: #7c7c7c;
}

.instagram-feed {
  display: flex;
  justify-content: center;
  iframe {
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
  }
}

.instagram-feed iframe {
  width: 100%;
  height: clamp(380px, calc(370px + 0.8 * (88vw - 360px)), 2000px);
}

@media @mobile {
  h4 {
    margin: 1rem 0;
  }
  .instagram-feed iframe {
    height: clamp(380px, calc(380px + 0.8 * (95vw - 360px)), 2000px);
  }
}
