<div class="container" *ngIf="isLoading; else loaded">
  <app-loading></app-loading>
</div>

<ng-template #loaded>
  <app-horizontal-slider [items]="bannerList" [visibleItems]="1" [itemWidth]="90" itemWidthUnit="vw" [itemHeight]="550" maxWidth="90" maxWidthUnit="vw"
    [translateDistance]="100/bannerList.length">
  </app-horizontal-slider>
  <app-dynamic-text></app-dynamic-text>
  <app-category-list></app-category-list>
  <h4>Em oferta</h4>
  <app-product-list></app-product-list>

  <h4>Peças mais procuradas</h4>
  <app-product-list></app-product-list>
</ng-template>
