@if (!loading) {

<div class="home">

  <!-- HERO -->
  <section class="hero">
    <img [src]="bannerList[0]?.image" alt="Banner" />

    <div class="hero-overlay">
      <h1>Joias que destacam sua beleza</h1>
      <p>Peças delicadas, modernas e atemporais</p>
      <button (click)="onCollectionClick()">Ver coleção</button>
    </div>
  </section>

  <!-- CATEGORIES -->
  <section class="section categories">
    <div class="section-header">
      <h2>Categorias</h2>
      <p>Explore nossas coleções</p>
    </div>

    <app-category-list [limit]="5"></app-category-list>
  </section>

  <!-- BEST OFFERS -->
  <section class="section products">
    <div class="section-header">
      <h2>Melhores ofertas</h2>
      <p>Descubra nossas peças em destaque</p>
    </div>

    <app-item-list [items]="discountedProducts" [extraFields]="['price']" (itemClicked)="onDiscountClick($event)">
    </app-item-list>
  </section>

  <!-- MOST WANTED -->
  <section class="section products alt">
    <div class="section-header">
      <h2>Peças mais procuradas</h2>
      <p>As favoritas de nossos clientes</p>
    </div>

    <app-item-list [items]="topProducts" [extraFields]="['price']" (itemClicked)="onTopProductClick($event)">
    </app-item-list>
  </section>
  <!-- BRAND HIGHLIGHT -->
  <section>
    <app-brand-highlight></app-brand-highlight>
  </section>

  <!-- Social Media -->
  <section>
    <app-social-connect></app-social-connect>
  </section>

</div>

} @else {
<div class="container">
  <app-loading></app-loading>
</div>
}
