<div class="admin-category-page">
  <h2>Gerenciar categorias</h2>
  <!-- Form for Creating/Editing Category -->
  <div class="category-form">
    <h3>{{ editingCategory ? "Editar Categoria" : "Criar Categoria" }}</h3>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmitCategoryForm()">
      <div class="form-group">
        <label for="name">Nome:</label>
        <input id="name" type="text" formControlName="name" required placeholder="Nome da Categoria" />
      </div>

      <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea id="description" formControlName="description" rows="3" placeholder="Descrição da Categoria"></textarea>
      </div>

      <div class="form-group">
        <label for="image">Imagem:</label>
        <input id="image" type="file" (change)="onImageChange($event)" accept="image/*" /> <!-- Allow image change only during editing -->
      </div>

      <!-- Display the current image if available -->
      <div *ngIf="imagePreview" class="image-preview">
        <img [src]="imagePreview" alt="Imagem da Categoria">
      </div>

      <button type="submit" class="btn btn-primary">
        @if(!loading){
        {{ editingCategory ? "Atualizar" : "Criar" }}
        }
        @else {
        <span class="loading-text">Atualizando<span class="dot one">.</span><span class="dot two">.</span><span class="dot three">.</span></span>
        }
      </button>
      <button *ngIf="editingCategory" type="button" class="btn btn-secondary" (click)="cancelEdit()">
        Cancel
      </button>
    </form>
  </div>

  <!-- Category Table -->
  <div class="category-table">
    <h3>Categorias existentes</h3>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Imagem</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (category of categoriesList; track $index) {
        <tr>
          <td>{{ category.name | capitalize }}</td>
          <td>{{ category.description }}</td>
          <td><img
              [src]="category.image || 'https://firebasestorage.googleapis.com/v0/b/rodriguesdev-2d63d.appspot.com/o/images%2Fno_image.png?alt=media&token=4af2c1c2-3f7c-439a-8f43-26183123748d'"
              alt="Imagem da Categoria"></td>
          <td>
            <mat-icon class="btn btn-warning-icon" (click)="onEditCategory(category)">edit</mat-icon>
            <mat-icon class="btn btn-danger-icon" (click)="onDeleteCategory(category)">delete_outline</mat-icon>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
