<div *ngIf="orders">
  <h2>Lista de pedidos</h2>
  @for (order of orders; track $index) {

  <h4>{{"Detalhes do pedido " + (orders.length - $index) }}</h4>
  <p><strong>Total:</strong> {{ order.total| currency: 'BRL' }}</p>
  <p><strong>Pedido em:</strong> {{ order.createdAt | date: 'dd/MM/yyyy' }}</p>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Página do produto</th>
      </tr>
    </thead>
    <tbody>
      @for (cartItems of order.cartItems; track $index) {
      <tr>
        <td>{{ cartItems.product.name }}</td>
        <td><img [src]="cartItems.product.image" alt="{{ cartItems.product.name }}"></td>
        <td>{{ cartItems.product.price - (cartItems.product.price * cartItems.product.discount) / 100| currency: 'BRL' }}</td>
        <td>{{ cartItems.amount }}</td>
        <td><a [routerLink]="['/product', cartItems.product.id]">Ver detalhes</a></td>
      </tr>
      }
    </tbody>
  </table>
  <hr>
  }
</div>

<div *ngIf="!orders">
  <p>Loading order details...</p>
</div>
