<footer class="total-footer">
  <div class="footer-container">
    <div class="footer">
      <p>Desenvolvido por
        <a href="https://www.linkedin.com/in/bruno-caputo-dev/">©Bruno Caputo</a>
      </p>
      <p class="hidden-msg">Esforçai-vos, e Ele fortalecerá o vosso coração, vós todos que esperais no Senhor.</p>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </div>
  </div>
</footer>
